@font-face {
  font-family: "PT sans";
  src: url("../Fonts/PTSans/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../Fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --main: #000000;
  --white: #FFFFFF;
  --gray: #333;
  --light_gray: #888;
  --f2: #f2f2f2;
  --brown: #766357;
  --blue: #81B3D2;
  --6: #666666;
  --e: #eee;
  --calenD: #a9a9a9
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--gray);
  background-color: var(--f2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--white);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.nav-block {
  display: flex;
}

.nav_list {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 56px;
  padding: 15px 72px;
}

.nav-item {
  min-width: 228px;
}

.nav-item:nth-child(3) {
  min-width: 230px;
  margin-left: auto;
  text-align: right;
}

.nav-item:nth-child(4) {
  text-align: right;
}


.logo {
  top: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}


.nav-link {
  text-decoration: none;
  font-weight: 700;
  line-height: 26px;
  color: var(--main);
  transition: 0.3s ease-in-out;
}

.active {
  color: var(--brown);
}


.nav-link:focus {
  color: var(--main);
  opacity: 30%;
}


.nav-link:hover {
  color: var(--blue);
}


.nav-link:active {
  color: var(--brown);
}


.welcome {
  position: relative;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 81px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}


.image-wrapper {
  display: inline-block;
  width: 100%;
  max-width: 456px;
  line-height: 0;
}

.img-block {
  width: 100%;
  height: auto;
}

.decoration-svg-block {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 0;
}

.svg-decor {
  width: 100%;
  height: auto;
}


.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  line-height: 26px;
}

.title {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  color: var(--main);
}

.reasons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.reasons-title {
  margin: 0;
  margin-bottom: 44px;
  max-width: 470px;
  text-align: center;
}

.reason-title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.reasons-preview-text {
  margin: 0;
  margin-bottom: 50px;
}

.reasons-1-list {
  display: flex;
  flex-direction: row;
}

.reasons-1-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-position: center 60px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  padding-top: 160px;
  padding-bottom: 85px;
  width: calc(100% / 3);
  max-width: 400px;
  align-items: center;
  text-align: center;
}

.house-icon {
  background-image: url("../images/house-icon.svg");
}

.burger {
  background-image: url("../images/burger.svg");
}

.gift {
  background-image: url("../images/Gift.svg");
}

.reasons-1-item-descr {
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin: 0;
}


.reason-1-wrapper {
  display: flex;
}

.reasons-card {
  padding-top: 45px;
  padding-bottom: 54px;
  padding-left: 52px;
  padding-right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  min-height: 256px;
  flex-shrink: 0;
}

.accent {
  color: var(--white);
  background-color: var(--blue);
}

.number {
  margin: 0;
  margin-bottom: 25px;
}

.reason-text {
  margin: 0;
  letter-spacing: -0.5px;
}

.reason-1-img {
  overflow: hidden;
  width: calc((100% / 3) * 2);
}

.img-1-reason {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.reason-2-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.reason-2-img {
  overflow: hidden;
  width: calc((100% / 3) * 2);
}

.img-2-reason {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reasons_last {
  background-color: var(--e);
}


.reason-3-4-5-title {
  max-width: 119px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 25px;
}

.reasons-3-4-5-item-descr {
  max-width: 300px;
  text-align: center;
  margin: 0;
}

.white {
  color: var(--white);
  line-height: 21px;
}

.form-header {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main);
}

.form-header-wrapper {
  width: 100%;
  max-width: 435px;
  padding-top: 60px;
}

.form {
  position: absolute;
  padding: 55px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  bottom: 0;
  background-color: var(--white);
}


.choose-date {
  margin: 0;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}



.map-wrapp {
  background-image: url("../images/map.svg");
  background-repeat: no-repeat;
  height: 594px;
  position: relative;
}


.link-wrapper {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--main);
}

.link-wrapper a {
  text-decoration: none;
  color: var(--main);
}

.choice-items {
  background-image: url(../images/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

.white-header {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.hotels-header {
  margin: 0;
  margin-bottom: 7px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--main);
  text-decoration: none;
}

.hotels-header:hover {
  color: var(--blue);
}

.hotels-header:active {
  color: var(--main);
  opacity: 30%;
}

.choice-items-form {
  display: flex;
  padding-top: 26px;
  padding-bottom: 36px;
  padding-left: 72px;
  padding-right: 72px;
}

.choice-item-block {
  display: flex;
  flex-direction: column;
}

.apartman-block {
  margin-left: 119px;
}

.label-checkbox {
  display: block;
  padding-left: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  cursor: pointer;
}

.label-checkbox::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 23px;
  height: 23px;
  background-image: url(../images/checkbox-off.svg);
  background-size: contain;
  background-repeat: no-repeat;
}



.checkbox-filter:checked +.label-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 27px;
  height: 23px;
  background-image: url(../images/checkbox-off.svg);
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
}


.checkbox-filter:checked +.label-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 27px;
  height: 23px;
  background-image: url(../images/checkbox-on.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.price-block {
  margin-left: auto;
}

.label-price {
  display: block;
  position: relative;
  cursor: pointer;
}

.label-price::before {
  content: "";
  display: block;
  position: absolute;
  width: 317px;
  height: 36px;
  top: 114px;
  border: 2px solid var(--white);
  cursor: pointer;
}

.button {
  padding: 3px 17px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--brown);
  border: none;
  transition: 0.3s;
}

.button.blue.btn:hover {
  background-color: #669EC0;
}

.button.blue.btn:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #5496BD;
}

.button.btn:hover {
  background-color: #604E43;
}

.button.btn:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #503E33;
}

.blue,
.blue {
  background-color: var(--blue);
  border: none;
}

.searching-hotels.blue {
  margin-top: 0;
  width: 100%;
  max-width: 458px;
  min-height: 58px;
  padding: 16px;
}


input[type="date"] {
  font-size: 14px;
  line-height: 26px;
  color: var(--main);
  background-color: var(--f2);
  border: none;
  font-weight: 700;
  text-align: left;
  width: 100%;
  max-width: 346px;
  height: 38px;
  transition: 0.3s ease-in-out;
}




.input.input-date:hover {
  background-color: #EBEBEB;
  outline: none;
  border: none;
}


.input.input-date:focus-visible {
  background-color: var(--white);
  border: 2px solid #E5E5E5;
  outline: none;
}

.input.input-date:hover+svg {
  color: var(--main);
}

.input.input-date:active+svg {
  color: var(--blue);
}


input[type="submit"] {
  width: 100%;
  max-width: 458px;
  outline: 2px;
}


.date-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 560px;
  margin: 0;
  margin-bottom: 29px;
  border: none;
  padding: 0;
}

.text-field__icon {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  width: 346px;
  margin-left: auto;
}

.input-date {
  box-sizing: border-box;
  padding: 6px 13px;
  width: 346px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 21px 23px;
}


.text-field__icon svg {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--calenD);
}

.one-third-size {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 54px;
  border: none;
  padding: 0;

}

.small-button {
  display: flex;
  width: 100%;
  max-width: 114px;
  height: 38px;
  background-color: var(--f2);
  align-items: stretch;
}



.input-age {
  width: 38px;
  border: none;
  outline: none;
  background-color: var(--f2);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}


.adults,
.kids {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  padding: 6px 13px;
  border: none;
  background: transparent;
  line-height: 0;
  transition: 0.3s ease-in-out;
}

.adults svg {
  color: #A9A9A9;
}

.adults:hover svg {
  color: var(--main);
}

.adults:active svg {
  color: var(--blue);
}

.kids svg {
  color: #A9A9A9;
}

.kids:hover svg {
  color: var(--main);
}

.kids:active svg {
  color: var(--blue);
}

.label {
  display: inline-block;
  width: 112px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.label-kids {
  width: 68px;
}


.adults-btnset {
  display: flex;
  justify-items: baseline;
  align-items: center;
}

.kids-btnset {
  display: flex;
  justify-items: baseline;
  align-items: center;
  margin-left: auto;
}


.sorting-hotels_block {
  min-height: 540px;
}

.sortingby-block {
  display: flex;
  align-items: center;
  padding: 29px 73px;
  border-bottom: 1px solid #E5E5E5;
}

.sortingby-title {
  margin: 0;
  margin-right: 46px;
}

.arrows-buttons {
  display: inline-block;
  margin-left: auto;
}

.arrows-buttons svg {
  color: #cacaca;
}

.active-arrow svg {
  color: #81B3D2;
}

.arrow-wrapper_button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.arrow-wrapper_button:hover svg {
  color: var(--main);
}


.arrow-wrapper_button:active svg {
  color: var(--blue);
}


.living-places {
  padding-left: 86px;
  padding-right: 73px;
  /* padding-top: 23px;
  padding-bottom: 30px; */
}

.brown-btn-wrapper {
  width: 100%;
  max-width: 568px;
}

.searching-hotels {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--brown);
  text-align: center;
  border: none;
  min-height: 86px;
  padding: 30px 40px;
  transition: 0.3s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
}

.left-side-card {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
}

.wrapper-hotels {
  padding-top: 7px;
  line-height: 0;
}

.hotels-img {
  width: 135px;
  height: 90px;
}

.right-side_card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
}


.hotel {
  align-items: stretch;
  padding-top: 23px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.hotels-card_text {
  margin: 0;
  margin-right: 40px;
}


.hotels-card_button_wrapper {
  margin-top: auto;
}

.cards-button {
  margin-right: 6px;
}


.searching-hotels:hover {
  background-color: #604E43;
  ;
}

.searching-hotels:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

.searching-hotels.blue {
  background-color: var(--blue);
}

.searching-hotels.blue:hover {
  background-color: #669EC0;
}

.searching-hotels.blue:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.button.link {
  background: none;
  color: var(--main);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline dotted var(--blue);
  opacity: 30%;
  cursor: pointer;
}

.button.link.active-button {
  color: var(--blue);
  text-decoration: none;
  opacity: 1;
}

.type-btn:hover {
  color: var(--blue);
  opacity: 100%;
}

.type-btn:active {
  color: var(--main);
  text-decoration: none;
  opacity: 100%;
}

.rating {
  display: inline-block;
  margin-top: auto;
  color: var(--6);
  background-color: var(--f2);
  outline: 2px;

}


.show {
  display: inline-block;
  width: auto;
  color: var(--white);
  padding: 7px 35px;
  border: 2px solid var(--white);
  background: transparent;
  cursor: pointer;
  transition: 0.3s;

}

.show:hover {
  color: var(--main);
  background-color: var(--white);
}

.form-group {
  padding: 0;
  width: 100%;
  max-width: 568px;
  border: none;
  /* filter: drop-shadow(0 7px 15px rgba(0, 1, 1, 0.15)); */
}

.form-wrapper {
  z-index: 1;
  left: 50%;
  transform: 50% 100%;
}

.form-header-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
}

.btn {
  cursor: pointer;
  border: none;
}



/* footer */
.page-footer {
  position: relative;
  margin-top: -120px;
  top: 80%;
  min-height: 120px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hotels_page {
  margin: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 139px;
}

.link-wrapper {
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.social-icon:hover {
  background-color: #669EC0;
}

.social-icon:active {
  background-color: #5496BD;
}

.right-side-footer {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.visit-SEDONA {
  margin-bottom: 10px;
}

.academy-link {
  margin-left: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 15px;
  background-color: var(--blue);
  width: 46px;
  height: 48px;

}

.social-item:not(:last-child) {
  margin-right: 5px;
}

.footer-logo-link {
  color: #231F20;
}

.footer-logo-link:hover {
  color: #81B3D2;
}

.footer-logo-link:active {
  color: #BDBBBC;
}
