@font-face {
   font-family: "PT Sans";
   src: url("../Fonts/PTSans/PTSans-Regular.ttf") format("truetype");
   font-weight: 400;
}

@font-face {
   font-family: "PT Sans";
   src: url("../Fonts/PTSans/PTSans-Bold.ttf") format("truetype");
   font-weight: 700;
}

:root {
   --main: #000000;
   --white: #FFFFFF;
   --gray: #333;
   --light_gray: #888;
   --f2: #f2f2f2;
   --brown: #766357;
   --blue: #81B3D2;
   --6: #666666;
}

* {
   box-sizing: border-box;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family: "PT Sans", sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--gray);
   background-color: var(--f2);
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.container {
   background-color: var(--white);
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   max-width: 1200px;
   height: 56px;
}

.logo {
   top: 0;
   position: absolute;
   z-index: 1;
   left: 50%;
   transform: translateX(-50%);
}


.nav-link {
   text-decoration: none;
   font-weight: 700;
   line-height: 26px;
   color: var(--main);
   transition: 0.3s;
}

.nav-link.active {
   color: var(--brown);
}

.info:hover {
   color: var(--blue);
}

.info:active {
   color: var(--main);
   opacity: 30%;
}

.image-wrapper {
   width: 60%;
   max-width: 456px;
}

.image-wrapper img {
   width: 100%;
   height: auto;
}

.preview {
   line-height: 26px;
}

.title {
   line-height: 26px;
   font-size: 21px;
   font-weight: 700;
   color: var(--main);
}

.reason-title {
   font-size: 21px;
}

.welcome {
   background-image: url("../images/background.png");
   background-repeat: no-repeat;
}

.photo-container {
   color: var(--white);
   background-color: var(--blue);
}


.reason-1-wrapper {
   background-image: url(../images/house.svg);
   background-repeat: no-repeat;
}

.reason-2-wrapper {
   background-image: url(../images/mountain.svg);
   background-repeat: no-repeat;
}

.gray_block {
   margin: 0;
   background-color: #eee;
}

.white {
   color: var(--white);
   line-height: 21px;
}

.form-header {
   font-size: 30px;
   line-height: 24px;
   font-weight: 700;
   color: var(--main);
}

.choose-date {
   line-height: 24px;
}

.searching-hotels {
   font-family: "PT Sans", sans-serif;
   font-size: 21px;
   line-height: 26px;
   color: var(--white);
   background-color: var(--brown);
   text-align: center;
   border: none;
}

/* .form-on-the-map {
   background-image: url(../images/map.svg);
   background-repeat: no-repeat;
} */

.parametres {
   font-weight: 700;
   font-size: 14px;
   line-height: 26px;
}

.link-wrapper {
   font-weight: 700;
   font-size: 21px;
   line-height: 26px;
   color: var(--main);
}

.link-wrapper a {
   text-decoration: none;
   color: var(--main);
}

.choice-items {
   background-image: url(../images/background2.png);
   background-size: cover;
   background-repeat: no-repeat;
   color: var(--white);
}

.white-header {
   font-size: 16px;
   font-weight: 700;
}

.hotels-header {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
   color: var(--main)
}

.button {
   padding: 3px 17px;
   font-weight: 700;
   color: var(--white);
   background-color: var(--brown);
   border: none;
   transition: 0.3s;
}

.button.blue.btn:hover {
   background-color: #669EC0;
}

.button.blue.btn:active {
   opacity: 30%;
   background-color: #5496BD;
}

.button.btn:hover {
   background-color: #604E43;
}

.button.btn:active {
   opacity: 30%;
   background-color: #503E33;
}

.searching-hotels.blue,
.blue {
   background-color: var(--blue);
   border: none;
}

.searching-hotels.blue {
   margin-top: 0;
   width: 100%;
   max-width: 458px;
   min-height: 58px;
   padding: 16px 182px;
}

.brown-btn {
   margin: 0 auto;
}

input[type="date"] {
   font-size: 14px;
   line-height: 26px;
   color: var(--main);
   background-color: var(--f2);
   border: none;
   font-weight: 700;
   text-align: left;
   vertical-align: center;
   width: 100%;
   max-width: 346px;
   height: 38px;

}

.input.input-date:focus {
   background-color: var(--white);
   outline: 2px solid #E5E5E5;
}

.input.input-date:hover {
   background-color: #EBEBEB;
}


input[type="number"] {
   font-size: 14px;
   line-height: 21px;
   color: var(--main);
   background-color: var(--f2);
   border: none;
   font-weight: 400;
}

input[type="submit"] {
   width: 100%;
   max-width: 458px;
   padding: auto;
   outline: 2px;

}

.date-input {
   margin-top: 0;
   margin-bottom: 30px;
}

.one-third-size {
   margin-top: 0;
   margin-bottom: 54px;
}

.searching-hotels {
   width: 100%;
   max-width: 568px;
   min-height: 86px;
   padding: 30px 124px;
   transition: 0.3s;
}

.searching-hotels:hover {
   background-color: #604E43;
}

.searching-hotels:active {
   color: #503E33;
   /* opacity: 30%; */
}

.searching-hotels.blue:hover {
   background-color: #669EC0;
}

.searching-hotels.blue:active {
   background-color: #5496BD;
}

.button.link {
   background: none;
   color: var(--main);
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   text-decoration: underline dotted var(--blue);
   opacity: 30%;
}

.button.link.price {
   color: var(--blue);
   text-decoration: none;
   opacity: 1;
}

.rating {
   display: inline-block;
   color: var(--6);
   background-color: var(--f2);
   outline: 2px;
}

.social-icon {
   display: flex;
   background-color: var(--blue);
}

.show {
   display: inline-block;
   width: auto;
   color: var(--white);
   padding: 7px 35px;
   border: 2px solid var(--white);
   background: transparent;
   cursor: pointer;
   transition: 0.3s;

}

.show:hover {
   color: var(--main);
   background-color: var(--white);
}

.form-group {
   margin: 0 auto;
   padding: 55px;
   background-color: var(--white);
   width: 100%;
   max-width: 568px;
   min-height: 395px;
   border: none;
   filter: drop-shadow(0 7px 15px rgba(0, 1, 1, 0.15));
}

.form-wrapper {
   position: absolute;
   z-index: 1;
   left: 50%;
   transform: translateX(-50%);
}

.btn {
   cursor: pointer;
}
